<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  

<bean id="Address" class="com.springcore.Address">
	<property name="street" value="1"/>
 	<property name="city" value="Rajahmundry"/>
 	<property name="state" value="Andhra Pradesh"/>
 	<property name="zip" value="533286"/>
 	<property name="country" value="India"/>
</bean>

<bean id="Customer" class="com.springcore.Customer">
	<property name="customerId" value="9966"/>
	<property name="customerContact" value="9999999999"/>
	<property name="customerName" value="Rashmi"/>
	<property name="customerAddress" value="Rajahmundry"/>
	
	

</bean>


</beans>
